body {
  font-family: "Jersey 25", sans-serif;
}
h1 {
  justify-self: center;
}
#fish-container {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  max-width: 1700px;
  margin: 0 auto;
  justify-content: flex-start;
}

.fish-button {
  position: relative;
  box-sizing: border-box;
  padding: 12px;
  border: 2px solid #2c8fbd;
  border-radius: 15px;
  background: #e0f0fb;
  cursor: pointer;
  transition: background 0.3s, border-color 0.3s;
  user-select: none;
  width: 250px;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.fish-button:hover {
  background: #a6d0f5;
  border-color: #17639e;
}
.fish-button.selected {
  background: #4caf50;
  border-color: #357a38;
  color: white;
}
.fish-name {
  font-weight: 500;
  font-size: 1.1em;
  margin-bottom: 6px;
}
.fish-stats {
  font-size: 0.9em;
  color: #444;
}
.badge {
  position: absolute;
  top: 6px;
  right: 6px;
  background: #e74c3c;
  color: white;
  font-weight: bold;
  border-radius: 50%;
  padding: 4px 8px;
  font-size: 0.9em;
  user-select: none;
  min-width: 20px;
  text-align: center;
}
.count-badge {
  min-width: 24px;
  text-align: center;
  font-weight: bold;
  line-height: 24px;
  border-radius: 12px;
  background-color: #e74c3c;
  color: white;
  user-select: none;
}
.minus-btn,
.plus-btn {
  cursor: pointer;
  border: 1px solid #888;
  border-radius: 4px;
  background-color: #f0f0f0;
  font-weight: bold;
  user-select: none;
  transition: background-color 0.2s;
}
.minus-btn:hover,
.plus-btn:hover {
  background-color: #ccc;
}
#result {
  position: fixed;
  top: 10px;
  right: 10px;
  background: #e0f0fb;
  padding: 10px 16px;
  border: 2px solid #2c8fbd;
  border-radius: 6px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  font-weight: 500;
  z-index: 9999;
  max-width: 200px;
  font-size: 1.3em;
  text-align: center;
}
img {
  width: 20px;
  height: 20px;
}

.shiny-image {
  background-color: #ffeb3b;
  border-radius: 6px;
  padding: 3px;
  display: inline-block;
}
.shiny-icon {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 16px;
  height: 16px;
  pointer-events: none;
}
#summary-container {
  margin: 20px auto 40px;
  max-width: 500px;
  padding: 16px;
  border: 4px solid #2c8fbd;
  border-radius: 8px;
  background-color: #f0f8ff;
  color: black;
  box-sizing: border-box;
  font-weight: 300;
  font-size: 1.2rem;
}

#summary {
  padding: 12px;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  color: #000;
}

#scroll-to-summary {
  position: fixed;
  bottom: 700px;
  right: 20px;
  background-color: #2c8fbd;
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 8px;
  font-family: "Pixelify Sans", sans-serif;
  font-size: 14px;
  cursor: pointer;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

#scroll-to-summary:hover {
  background-color: #1a6c90;
}
